.left
  .left__userinfo
    %sapn.left__userinfo-name
      = current_user.name
    .left__userinfo-icon
      = link_to new_group_path do
        = fa_icon "pencil-square-o"
      = link_to  edit_user_path(current_user) do
        = fa_icon "cog"
  = render partial: 'group'

.right
  .right__group
    %p.right__group-name sampleグループ
    %div.right__group-edit edit
    %p.right__group-member sample:name
  = render @messages
  .right__typemessage
    = form_for [@group, @message] do |f|
      .right__typemessage--main
        = f.text_field :body, class: 'right__typemessage--main-text',placeholder: 'type a message'
        %a.right__typemessage--main-icon
          = f.label :image,class: 'right__typemessage--main-icon' do
            = fa_icon "image"
            = f.file_field :image
        = f.submit 'Send', class: 'right__typemessage-send'
